html {
  scroll-behavior: smooth;
}

@font-face {
    font-family:MeriendaOne ;
    src: url(../fonts/MeriendaOne.ttf);
}

@media (max-width: 991px){

	.logo{
		width: 60px !important;
	}

	.navbar-link{
		margin-right: 0px !important;
	}

	.navbar-nav li:first-child{
		border-top: 1px solid white;
	}

	.login{
		border-radius: 0px !important;
	}

	.logout{
		border-radius: 0px !important;
	}
	.banner{
		height: 800px !important;
	}
	.map{
		height: 360px !important;
		width: 360px !important;
	}
}

.nav-btn{
	margin-right: 15px;
	box-shadow: 0px 0px 3px white !important;
	outline: none;
}

.nav-btn:focus{
	outline: none;
}

.navbar-link{
	color: #ffcfcf !important;
	margin-right: 50px;
	text-align: center;
	font-weight: 600;
}

.navbar-link:hover, .nav-active{
	color: white !important;
}

.login{
	background-color: white;
	border-radius: 10px;
	color: #ff5656 !important;
}

.logout{
	background-color: white;
	border-radius: 10px;
	color: #000000 !important;
}


.logout:hover{
	color: black !important;
}

.login:hover{
	color: red !important;
}

.banner{
	height: 517px;
	background: -webkit-linear-gradient(#007bff,#00ffa1);
}

.banner h1{
	margin-top: 20%;
	margin-bottom: 5%;
	color: white;
	font-size: 35px;
}

.banner p{
	color: #e9f6f9;	
	text-align: justify;
	font-size: 20px;
}

.search-banner{
	text-align: justify;
	background: -webkit-linear-gradient(#007bff,#00ffa1);
}

.search-banner h1{
	margin-top: 10%;
	margin-bottom: 5%;
	font-family: 'MeriendaOne';
	color: white;
}

.search-banner input[type="text"]{
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid cyan;
}
.search-banner input[type="text"]:focus{
	outline: none;
}

#search-tag{
	padding: 20px 0px;
	margin-top: 3.7%;
	margin-bottom: 3.6%;
	font-family: 'MeriendaOne';
}

.map{
	margin: 50px auto;
	background: url(../images/map.png);
	background-size: cover;
	border-radius: 100%;
	width: 450px;
	height: 450px;
	box-shadow: inset 0 0 20px black;
	border: 10px solid lightgrey;
	position: relative;
}